body {
    background: rgb(255, 255, 255);    
}

.contenedor{
    width: 1080px;
    margin: auto;
    background: rgb(86, 143, 114);
    color: bisque;
    padding: 15px 15px 15px 15px;
    border-radius: 2px;
    box-shadow: 0 10px 10px 0px rgba(48, 145, 128, 0.8);
}

.contenedor .titulo{
    font-size: 3.5ex;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: -40px;    
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: darkgrey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid bisque;
    border-bottom: dimgray;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: bisque;
}

#contenidopestanas{
    clear: both;  
    background: dimgray;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid bisque;
    width: 1025px;
}

.cuerpo-principal p.foto{
    background-color: #fff;
}

p.foto .logo{
    float: left;
    height: 250px;
}

.cuerpo-principal p.fotomixtificacion{
    background-color: #fff;
}

p.fotomixtificacion .logo{
    float: right;
    height: 250px;
}

.cuerpo-principal p.fotocabestrillo{
    background-color: #fff;
}

p.fotocabestrillo .logo{
    float: right;
    height: 200px;
}

.cuerpo-principal p.fotoaliento{
    background-color: #fff;
}

p.fotoaliento .logo{
    float: right;
    height: 250px;
}

.cuerpo-principal p.fotoduque{
    background-color: #fff;
}

p.fotoduque .logo{
    float: right;
    height: 200px;
}

.cuerpo-principal p.fotobestias{
    background-color: #fff;
}

p.fotobestias .logo{
    float: right;
    height: 250px;
}