html {
    background-color: #F8F8F2;
  }
  body {
    width: auto;
    margin: 0 auto;
  }
  .contenedor {
    overflow: hidden;
    margin: auto;
  }

  h1,h2{
    text-align: center;
  }
  .col {
    margin: 0px;
    padding: 0px;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    overflow: hidden;
  }
  .col-izquierda {
    float: left;
    width: 20%;
    background-image: url("fondo2.jpg");
  }

  .col-izquierda h1 {
    color:   #A3DAC9;
  }

  .col-izquierda ul {
    list-style-type: none;
    padding-left: 0px;
  }
  .col-izquierda ul li {
    padding-left: 10px;
    margin-top: 10px;
    border-left: 5px double #FFFFFF;
  }
  .col-izquierda a{
    color: lavender;
  }

  .col-izquierda a:link{
  text-decoration:none;
} 

.col-izquierda a:hover{
  font-weight: bold;
}

  .col-derecha {
    float: right;
    width: 80%;
    background-image: url("fondocafe.jpg");
  }
  .col-derecha h1 {
    text-align: right;
  }
  .col-derecha p {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .pie p {
    text-align: right;
    color: #F8F8F2;
  }

  .global {
	height: 300px;
    width: 1000px;
    margin: 0px auto;
	border: 1px solid #ddd;
  background-image: url("fondogris.png");
  opacity: 0.8;
    overflow: auto;
}

#mensajes {
	height: auto;
}
.texto {
	padding:4px;
	background:#fff;
}

p.foto .logo{
    float: left;
    height: 250px;
}

p.fotomixtificacion .logo{
    float: right;
    height: 250px;
}

p.fotocabestrillo .logo{
    float: right;
    height: 200px;
}

p.fotoaliento .logo{
    float: right;
    height: 250px;
}

p.fotoduque .logo{
    float: right;
    height: 200px;
}

p.fotobestias .logo{
    float: right;
    height: 250px;
}